<ion-header class="md" color="primary" >
  <ion-toolbar>
    
    <ion-title class="title-style">  <ion-icon class="title-icon" name="document-attach-sharp"></ion-icon> Agenda </ion-title>
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding > 
<div class="row">
  <div class="col-lg-2 col-sm-1 " >
    
  </div>
  <div class="col-lg-8 col-sm-10 col-12">

    
<ion-card id='meetingDetais'>
  <ion-card-header color="secondary">Meeting Details </ion-card-header>
  <ion-list>
    <form (ngSubmit)="saveMeetingInfo()">
      
    <ion-item>
      <ion-text slot="start">Meeting ID</ion-text>
      <ion-text *ngIf="isVPE() ===false" slot="end"> {{meetingDetails.MeetingNo}}</ion-text>
      <ion-input  *ngIf="isVPE()===true"  type="text" [(ngModel)]="meetingDetails.MeetingNo" name="MeetingNo"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-text slot="start">Meeting Date</ion-text>
      <ion-text *ngIf="isVPE() ===false " slot="end" >  {{meetingDetails.MeetingTime}}</ion-text>
      <ion-input  *ngIf="isVPE()===true" [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.MeetingTime" name="MeetingTime"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-text slot="start">Meeting Info</ion-text>
      <ion-text *ngIf="isVPE() ===false " slot="end"> <a href={{meetingDetails.MeetingDetails}}>Zoom Link</a>
        </ion-text>
      <ion-input   *ngIf="isVPE()===true" [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.MeetingDetails" name="MeetingDetails"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-text slot="start">Zoom Meeting Id</ion-text>
              <ion-text *ngIf="isVPE() ===false " slot="end"> {{meetingDetails.zoomId}}</ion-text>
              <ion-input   *ngIf="isVPE()===true" [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.zoomId" name="zoomId"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-text slot="start">Zoom Password</ion-text>
              <ion-text *ngIf="isVPE() ===false " slot="end"> {{meetingDetails.zoomPwd}}</ion-text>
              <ion-input  *ngIf="isVPE()===true" [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.zoomPwd" name="zoomPwd"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>

    <ion-item>
      <ion-text slot="start">Theme of the day</ion-text>
      <ion-text *ngIf="isVPE() ===false " slot="end"> {{meetingDetails.theme}}</ion-text>
      <ion-input  *ngIf="isVPE()===true"  [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.theme" name="theme"></ion-input>
    </ion-item>

    <ion-item>
      <ion-text slot="start">Word of the day</ion-text>
      <ion-text *ngIf="isVPE() ===false " slot="end"> {{meetingDetails.word}}</ion-text>
      <ion-input   *ngIf="isVPE()===true" [disabled]="isVPE()===false" type="text" [(ngModel)]="meetingDetails.word" name="word"></ion-input>
      </ion-item>
      <ion-item>
        <ion-text slot="start">Members Attending</ion-text>
        <ion-text slot="end"> {{attendanceListcount}}</ion-text>
      </ion-item>
      <ion-grid>
        <ion-row>
            <ion-col> 
             
              <ion-button fill="outline" size="small"  color="tertiary" shape="round"   *ngIf="speechTaken !== true && (isMember()===true || isExcom()===true)" (click)='createSpeech()'>Give Speech</ion-button>
          
            </ion-col>
            <ion-col> 
              
              <ion-button fill="outline" size="small"  color="tertiary" shape="round"  *ngIf="evaluatorTaken !== true && (isMember()===true || isExcom()===true)" (click)="createEvalDetails()">Be Evaluator</ion-button>
              
            </ion-col>
           
        </ion-row>
        <ion-row>
          <ion-col> 
            
            <ion-button fill="outline" size="small"  color="success" shape="round"   (click)="saveAttendance()"   *ngIf="attendance==false || (attendance==false && notAttending==false)">Attending</ion-button>              
            
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12"> <ion-button fill="outline" size="medium"  color="tertiary" shape="round"  *ngIf="isVPE()===true" (click)="saveMeetingInfo()"  >Save</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><ion-button fill="outline" size="medium"  color="tertiary" shape="round"  *ngIf="isVPE()===true" (click)="closeMeeting()"  >Close Meeting</ion-button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col size="12"><ion-button fill="outline" size="medium"  color="tertiary" shape="round"  *ngIf="isVPE()===true" (click)="openNewMeeting()"  >Open New Meeting</ion-button></ion-col>
        </ion-row>
         
       

        
    </ion-grid>
        
  </form>
  </ion-list>
</ion-card>

  <ion-card>
    <ion-card-header color="secondary">Speakers</ion-card-header>
    <ion-list *ngFor="let item of speakerList  ">
      <ion-item>
       
          <!-- role is available-->
          <ion-icon color="success" (click)='assignCurrentUser(item)' name="hand-right-outline" slot="start" *ngIf="roleTaken==false && item.Name==''"> </ion-icon>
         <!-- role is assinged to me-->
          <!-- role is available and i have taken role-->
          <ion-icon  name="hand-right-outline" slot="start" *ngIf="roleTaken==true && item.UserID != this.uid && item.Name==''"> </ion-icon> 
          <!-- role is not available and is taken by someone else-->
          <ion-thumbnail slot="start" *ngIf=" item.Name!=''">
            <ion-img  src={{item.PhotoUrl}} >{{item.PhotoUrl}} </ion-img>
          </ion-thumbnail>
  
         <ion-icon color="danger" name="add-circle" slot="start"  (click)='goToAdminSettings(item)' *ngIf="isVPE()"> </ion-icon>
         <ion-icon color="danger" name="menu-outline" slot="start"  (click)='setEvaluator(item)' *ngIf="isVPE()"> </ion-icon>

          <h5>  {{ item.speechTitle }} <br>
            <sub> {{ item.Name }} </sub><br>
            <sub style="color:grey"> {{item.project.toString().split("_").join(" ")}}</sub> <br>
            <sub style="color:grey" *ngIf="item.level != undefined"> {{ item.pathWays }}  L{{ item.level }} </sub>
          </h5> 
          <a href = "mailto: {{item.email}}" slot="end"><ion-icon name="mail-outline" *ngIf="item.UserID != this.uid"></ion-icon></a>
        <ion-icon color="danger" name="close-circle-outline" slot="end"  (click)='deleteSpeechDetails(item)'  *ngIf="item.UserID === this.uid"> </ion-icon>
      </ion-item>
    </ion-list> 
  </ion-card>
  
  <ion-card>
    <ion-card-header color="secondary">Role Players</ion-card-header>
  <ion-list *ngFor="let item of meetingRoleList ">
    <ion-item >
      
        <!-- role is available-->
        <ion-icon color="success" (click)='assignCurrentUser(item)' name="hand-right-outline" slot="end"
         *ngIf="roleTaken==false && item.Name=='' && notAttending==false && isMember()===true"> </ion-icon>
       <!-- role is assinged to me-->
       <ion-icon slot="end" color="danger" name="close-circle-outline"  (click)='releaseRole(item)'  *ngIf="item.UserID === this.uid"> </ion-icon>

  
        <!-- role is available and i have taken role-->
        <ion-icon  name="hand-right-outline" slot="end" *ngIf="roleTaken==true && item.UserID != this.uid && item.Name==''"> </ion-icon> 
        <!-- role is not available and is taken by someone else-->
      
      <ion-avatar   slot="start" *ngIf=" item.Name!=''" >
        <ion-img  src={{item.PhotoUrl}} ></ion-img>
      </ion-avatar>
      <ion-avatar   slot="start" *ngIf=" item.Name===''" >
        <ion-img  src="assets/noimage.png" ></ion-img>
      </ion-avatar>
      <ion-icon color="danger" name="add-circle" slot="end"  (click)='goToAdminSettings(item)' *ngIf="isVPE()"> </ion-icon>


      <h6> {{ meetingRoleStr(item.RoleID) }}<br>
      <sub style="color:grey">{{ item.Name }}</sub>
      </h6>
      <a href = "mailto: {{item.email}}" slot="end"><ion-icon name="mail-outline" *ngIf="item.UserID != this.uid"></ion-icon></a>
    </ion-item>

  </ion-list> 
</ion-card>
  
  <ion-card>
    <ion-card-header color="secondary"> Evaluator 
      <ion-icon  name="hand-right-outline" slot="end"> </ion-icon> 
    </ion-card-header>
    <ion-list *ngFor="let item of evaluatorList  ">
      <ion-item>
          <!-- role is available-->
          <ion-icon color="success" (click)='assignCurrentUser(item)' name="hand-right-outline" slot="start" *ngIf="roleTaken==false && item.Name==''"> </ion-icon>
         <!-- role is assinged to me-->
          
          <!-- role is available and i have taken role-->
          <ion-icon  name="hand-right-outline" slot="start" *ngIf="roleTaken==true && item.UserID != this.uid && item.Name==''"> </ion-icon> 
          <!-- role is not available and is taken by someone else-->
          <ion-avatar slot="start" *ngIf=" item.Name!=''">
            <ion-img  src={{item.PhotoUrl}} >{{item.PhotoUrl}} </ion-img>
          </ion-avatar>
          <ion-icon color="danger" name="add-circle" slot="start"  (click)='goToAdminSettings(item)' *ngIf="isVPE()"> </ion-icon>
          <h6>  {{ item.Name }} 
        <sub style="color:grey"> <br> Speaker: {{ item.Speaker }} </sub> </h6>
        <ion-icon color="danger" name="close-circle-outline" slot="end"  (click)='deleteEvalDetails(item)'  *ngIf="item.UserID === this.uid"> </ion-icon>
        <a href = "mailto: {{item.email}}" slot="end"><ion-icon name="mail-outline" *ngIf="item.UserID != this.uid"></ion-icon></a>
      </ion-item>
      
    </ion-list> 
  </ion-card>
<ion-card>
    <ion-card-header color="secondary">
      Members Attending
    </ion-card-header>
    <ion-list *ngFor="let item of attendanceList">
    <ion-item>
        <ion-avatar slot="start" *ngIf=" item.Name!=''">
          <ion-img  src={{item.PhotoUrl}} >{{item.PhotoUrl}} </ion-img>
        </ion-avatar>
      <ion-label>{{ item.Name }}</ion-label>
    </ion-item>
  </ion-list> 
</ion-card>
<ion-card>
  <ion-card-header color="secondary">
    Members Not Attending
  
      <ion-button style="float: right;" color="danger" shape="round" size="small" (click)="checkIfRoleBooked()" *ngIf="notAttending==false || attendance==true">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
  
  </ion-card-header>
  <ion-list *ngFor="let item of notAttendingList">
  <ion-item>
      <ion-avatar slot="start" *ngIf=" item.Name!=''">
        <ion-img  src={{item.PhotoUrl}} >{{item.PhotoUrl}} </ion-img>
      </ion-avatar>
    <ion-label>{{ item.Name }}</ion-label>
  </ion-item>
</ion-list> 
</ion-card>

<ion-card>
  <ion-card-header color="secondary">
    Education Session
  </ion-card-header>
  <ion-card-content>
    Check out some awesome educational sessions coming up.
    <br/>
    <ion-button size="small" slot="end" (click)="gotoEducsession()">Session Details</ion-button>
  </ion-card-content>

  <!-- class="button_top" -->

</ion-card>

  </div>
  <div class="col-lg-2 col-sm-1 ">
   
  </div>
</div>
  


</ion-content>



 
