$tm-color1 : #772432;
$tm-color2 :  #004165;
$tm-color3 :  #A9B2B1;
$tm-color4 : #F2DF74;

.logo {
    width: 25%;
    z-index: 300;
    margin: 10px auto;
}

.banner-img {
    margin: auto;
    padding: 0 5%;
    width: 90%;
}

.login-button {
    width : 16rem; 
    margin: 10px auto;
}