$tm-color1 : #772432;
$tm-color2 :  #004165;
$tm-color3 :  #A9B2B1;
$tm-color4 : #F2DF74;

.menu-icon {
    padding-right: 6px;
    color: $tm-color2;
}

.log-out-icon{
    font-size: 18px;
}

.fab-icon {
    color: black;
    font-size: 18px;
}